@{
    ViewData["Title"] = "Dashboard";
}

<h2 class="float-right">Current Wallet Balance: $@ViewBag.CurrentUser.wallet</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Seller</th>
                <th scope="col">Top bid</th>
                <th scope="col">Time Remaining</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var x in @ViewBag.auctionlist)
                {
                    <tr>
                        <td><a href="auction/@x.id">@x.itemname</a></td>
                        <td>@x.seller.first_name</td>
                        <td>@x.bid</td>
                        @{
                            var today = DateTime.Now;
                            TimeSpan remaining = x.endDate.Subtract(today);
                            <td>@remaining.Days Days @remaining.Hours Hours @remaining.Minutes Minutes @remaining.Seconds Seconds</td>
                        }
                        @if (@x.sellerid == @ViewBag.CurrentUser.id)
                        {
                            <td><form action="delete/@x.id" method="POST"><input type="submit" value="Remove"></form></td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

